In [1]:
from seeq import spy

In [2]:
spy.login(username='mark.derbecker@seeq.com', password='DataLab!')

In [15]:
tags = spy.search({
    'Name': 'Area*',
    'Type': 'Asset',
    'Path': 'Example >> Cooling Tower 1'
})

tags

,ID,Path,Asset,Name,Description,Type,Value Unit Of Measure,Datasource Name
0,2ECBF64F-752F-4EF7-9136-E19A233BC4EA,Example,Cooling Tower 1,Area A,NaN,Asset,NaN,Example Data
1,6353AD03-1FBE-4692-853E-A1C01B958A74,Example,Cooling Tower 1,Area G,NaN,Asset,NaN,Example Data
2,7DD5E9FE-3529-4046-9ADF-F2DFB2C1A162,Example,Cooling Tower 1,Area B,NaN,Asset,NaN,Example Data
3,46986C1A-C1BA-4315-A8FD-0515329CB9D1,Example,Cooling Tower 1,Area C,NaN,Asset,NaN,Example Data
4,1ECEA217-E29D-4A5E-ACF8-6A13553BA4C1,Example,Cooling Tower 1,Area H,NaN,Asset,NaN,Example Data
5,278EB502-2C12-4B63-B585-1959167551E6,Example,Cooling Tower 1,Area I,NaN,Asset,NaN,Example Data
6,9541145F-6150-4270-8404-C970B10D4734,Example,Cooling Tower 1,Area J,NaN,Asset,NaN,Example Data
7,245AAFCD-BF7A-48DE-B96F-788B9C45B3C6,Example,Cooling Tower 1,Area K,NaN,Asset,NaN,Example Data

In [16]:
calc = spy.search({
    'Name': 'Derbecker'
})

calc

,ID,Name,Description,Type,Value Unit Of Measure,Datasource Name
0,C3449B55-568C-4D76-8413-792C2A21E74D,Derbecker Formula,NaN,CalculatedSignal,°F,Seeq Cache

In [17]:
spy.pull(tags,
         calculation=calc,
         start='2019-08-12 23:27:33.573013300+00:00',
         end='2019-08-14 23:27:33.573013300+00:00',
         grid=None).tail()

,Example >> Cooling Tower 1 >> Area A,Example >> Cooling Tower 1 >> Area G,Example >> Cooling Tower 1 >> Area B,Example >> Cooling Tower 1 >> Area C,Example >> Cooling Tower 1 >> Area H,Example >> Cooling Tower 1 >> Area I,Example >> Cooling Tower 1 >> Area J,Example >> Cooling Tower 1 >> Area K
2019-08-14 23:20:00+00:00,1092.968983,1095.165429,1077.109529,1094.678400,1097.240397,1090.661759,1104.228000,1092.756591
2019-08-14 23:22:00+00:00,1093.947154,1094.758950,1076.946383,1094.154421,1097.673586,1090.922500,1104.212459,1093.345083
2019-08-14 23:24:00+00:00,1095.090085,1094.490200,1076.942435,1093.676597,1098.023742,1091.006492,1103.822810,1093.871739
2019-08-14 23:26:00+00:00,1096.240429,1094.210850,1076.992357,1093.342049,1098.303186,1091.007074,1103.848655,1094.206264
2019-08-14 23:28:00+00:00,1097.126403,1094.659546,1077.011472,1093.168017,1098.441514,1090.966466,1103.973279,1094.330488